{{#> layout }}
<div class="date"><time datetime="{{isoDate published}}">{{fullDate published}}</time></div>
{{{md body}}}
<div class="tags">
  Tags:
{{#each tags}}
  <a href="/#{{.}}">{{.}}</a>
{{/each}}
</div>
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    startOnLoad: true,
    theme: window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'neutral',
    themeVariables: {
      fontFamily: "'Source Sans 3', sans-serif"
    }
  });
</script>
{{/layout}}
